.ant-layout {
  background: transparent !important;
}
/* uploader box styles */
.ant-upload-wrapper .ant-upload-drag {
  height: auto !important;
  background-color: white !important;
}
/* Table style */
.ant-table-wrapper .ant-table {
  background: transparent !important;
  position: relative;
}
.ant-table-wrapper .ant-table::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  /* background-color: rgba(10, 136, 73, 0.1); */
  background-image: conic-gradient(
    rgba(167, 255, 211, 0.4),
    rgba(247, 9, 33, 0.1),
    rgba(10, 136, 73, 0.2),
    rgba(10, 136, 73, 0.2),
    rgba(247, 9, 33, 0.1),
    rgba(10, 136, 73, 0.2),
    rgba(247, 9, 33, 0.1)
  );
  filter: blur(30px);
}
.ant-table thead tr th {
  background-color: white !important;
  color: #0a8848 !important;
}
.ant-table-tbody > tr:hover > td {
  background: #f2fff8 !important;
}
